* {
  font-family: sans-serif;
}

.hidden {
  display: none;
}

input:focus, select:focus {
  border-bottom: 2px solid black;
  transition: border 0.3s linear;
}

input,
select {
  border: none;
  border-bottom: 1px solid lightgray;
  outline: none;
}

.checkout-form h5 {
  margin-top: 10%;
}

.checkout-form input {
  margin-top: 7%;
  padding: 2%;
  width: 100%;
}

#state,
#zip {
  width: 45%;
}

.checkout-form select {
  background-color: white;
}

#expire-month,
#expire-year {
  width: 27%;
}
#expire-year {
  margin-left: 3%;
}

.order-summary {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  padding-right: 10%;
  line-height: 1.5;
  font-size: 0.9rem;
}

#different-address {
  width: auto;
  margin-right: 2%;
}

#country {
  width: 100%;
}

.country-label {
  margin-bottom: 5%;
  font-weight: normal;
}

#zip {
  margin-left: 5%;
}

.amount {
  justify-self: right;
}

/* Mobile Version */

header {
  display: flex;
  padding: 8%;
  justify-content: space-between;
  align-items: center;
}

.main-heading {
  text-align: center;
}

#cvv {
  width: 27%;
  margin-left: 5%;
  padding: 0%;
}

.checkout-form {
  padding: 5%;
  margin-bottom: 10%;
  height: auto;
  min-height: 100vh;
  padding-bottom: 2rem; 
}

#label-address {
  font-size: 0.85rem;
}

.order-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #172c50;
  border: none;
  color: white;
  font-size: 1rem;
  line-height: 2;
}

.shop-heading {
  margin: 0 auto;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: normal;
}

@media screen and (min-width: 601px) {
  .fa-bars {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
  }

  .shop-heading {
    font-size: 1.1rem;
  }

  .main-heading {
    display: flex;
    justify-content: center;
    margin-right: 1%;
    margin-top: 2%;
    font-size: 1rem;
  }

  .checkout-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15%;
    padding: 5% 20%;
    margin-bottom: 0%;
  }

  #cvv {
    width: 27%;
    margin-left: 5%;
    padding: 0%;
  }

  #order-btn {
    position: static;
    color:black;
    border: 2px solid black;
    background-color: white;
    width: auto;
    white-space: nowrap;
    text-align: center;
    font-size: 0.9rem;
    padding: 1% 7%;
    font-weight: 500;
    margin-top: 5%;
  }

  #label-address {
    font-size: auto;
  }

}
